.animate_js_1 {
  opacity: 0;
}

#section1 {
  max-width: 171px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
#v_phone {
  z-index: 2;
}
.shine_1 {
  margin-bottom: 5px;
  width: 100%;
}
.shine_1 img {
  transform-origin: center bottom;
  opacity: 0;
  bottom: 0;
}
#v_glow_1 {
  opacity: 0.6;
}
#section1 #v_phone,
#section1 #v_glow_1 {
  height: auto !important;
}
@media (min-width: 480px) {
  #section1 {
    max-width: 247px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  #section1 {
    max-width: 409px;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  #section1 {
    max-width: 514px;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  #section1,
  #v_phone {
    max-width: 795px;
    width: 100%;
  }
}

@media (max-width: 767.99px) {
  #v_glow_1,
  .shine_1 {
    bottom: 12px;
  }
  .shine_1 {
    margin-bottom: 0px;
  }
}

.js_move1 {
  animation: 10s linear 0s infinite js_move1;
}

@keyframes js_move1 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.js_move2 {
  transform: translateY(-100%);
  animation: 10s linear 0s infinite js_move2;
}

@keyframes js_move2 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@media (max-width: 1023.99px) {
  #js_slider_move1.js_move1,
  #js_slider_move1_1.js_move1 {
    width: max-content;
    padding-right: 40px;
  }
  #js_slider_move1.js_move1 {
    animation: 10s linear 0s infinite js_move1_mob;
  }
  #js_slider_move1_1.js_move1 {
    animation: 10s linear 0s infinite js_move1_mob_1;
    margin-left: 0;
    padding-left: 0;
    position: absolute;
    left: 0;
    top: 0px;
  }
}
@media (max-width: 639.99px) {
  #js_slider_move1.js_move1,
  #js_slider_move1_1.js_move1 {
    width: max-content;
    padding-right: 26px;
  }
}

@keyframes js_move1_mob {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes js_move1_mob_1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
.odometer-value {
  text-align: center !important;
  /* min-width: 30.8px; */
}
.odometer_little .odometer-value {
  /* min-width: 20.69px; */
}

/*
@media (max-width: 1024px) {
 #js_slider_move1, #js_slider_move1_1 {
   display: inline-block;
    margin-left: 0;
    width: auto;
    white-space: nowrap;
    vertical-align: top;
    margin-left: 0;
 }
 #js_slider_move1 img, #js_slider_move1_1 img {
   display: inline-block;
   vertical-align: top;
   margin-left: 0;
 }
}
*/
.anim4__rotate {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.anim4__preview-content {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 174%;
  max-width: 174%;
  height: auto;
  transform: translateX(-50%);
  opacity: 0;
}
.anim4__form {
  position: relative;
  left: -18px;
}
.anim4__lead {
  position: absolute;
  opacity: 0;
}
.anim4__lead1 {
  left: -2%;
  top: 32%;
  width: 50px;
  height: auto;
}
.anim4__lead2 {
  right: 3%;
  top: 54%;
  width: 30px;
  height: auto;
}

@media (min-width: 768px) {
  .anim4__form {
    left: -28px;
  }
  .anim4__lead1 {
    width: 110px;
  }
  .anim4__lead2 {
    width: 60px;
  }
}
#anim4__lead1,
#anim4__lead2 {
  transform-origin: center;
}

@media (max-width: 767.98px) {
  .max-w-114px-fix {
    width: 114.5px;
  }
  .h-188px-fix {
    height: 210px;
  }
  .max-w-247px-fix {
    max-width: 247px;
  }
  .max-w-416px-fix {
    max-width: 416px;
  }
  .max-w-50px-fix {
    max-width: 50px;
  }
  .max-w-56px-fix {
    max-width: 56px;
  }
  .max-w-26px-fix {
    max-width: 26px;
  }
  .max-w-130px-fix {
    max-width: 200px;
    width: 200px;
  }
  .max-w-48px-fix {
    max-width: 48px;
  }
  .max-w-34px-fix {
    max-width: 34px;
  }
  .max-w-188px-fix {
    max-width: 220px;
    width: 220px;
  }
  .max-w-198px-fix {
    max-width: 220px;
    width: 220px;
  }
  .max-w-400px-fix {
    max-width: 400px;
  }
  .max-w-57px-fix {
    max-width: 57.5px;
  }
  .max-w-146px-fix {
    max-width: 147px;
    width: 147px;
  }
  .max-w-35px-fix {
    max-width: 35.5px;
  }
  .max-w-205px-fix {
    max-width: 205.5px;
    width: 205.5px;
  }
  .max-w-221px-fix {
    max-width: 221px;
    width: 221px;
  }
  .max-w-55px-fix {
    max-width: 55px;
  }
  .max-w-40px-fix {
    max-width: 40px;
  }
  .max-w-182px-fix {
    max-width: 182.5px;
    width: 182.5px;
  }
  .max-w-181px-fix {
    max-width: 181px;
    width: 181px;
  }
  .max-w-179px-fix {
    max-width: 179.5px;
    width: 179.5px;
  }
}
